@import url("integrity-light.css"); /* Using a url */

/* =============================================================================
// ASSETS/CSS/STYLE.CSS
// -----------------------------------------------------------------------------
// Styles for SFCS page, hosted on Github: unit45host.github.io
// http://unit45host.github.io
// ========================================================================== */

/* =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Home
//   02. Header
//   03. Content
//   04. Footer
//   05. Extras
// ========================================================================== */

/* Home
// ========================================================================== */

.entry-thumb { height: 335px !important; overflow: hidden !important; }



/* Header
// ========================================================================== */






/* Content
// ========================================================================== */






/* Footer
// ========================================================================== */






/* Extras
// ========================================================================== */


/* panel class */

div.panel {
    display: none;
	padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    display: block !important;
	opacity: 1;
    max-height: 500px; /* Must more bigger than the content*/
}

/* Accordion - FAQ section - open/close bars

/* open-close accordion stylish */
p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
}

/* Mouse-over bg-color */
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}

/* "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}
