@import url("integrity-light.css"); /* Using a url */
@import url("ethos.css"); /* Using a url */
@import url("renew.css"); /* Using a url */


/* =============================================================================
// ASSETS/CSS/STYLE.CSS
// -----------------------------------------------------------------------------
// Styles for Zoltan Gal portfolio page, hosted on Github: unit45host.github.io
// http://unit45host.github.io
// ========================================================================== */

/* =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Home
//   02. Header
//   03. Content
//   04. Footer
//   05. Extras
// ========================================================================== */

/* Home
// ========================================================================== */

.entry-thumb { height: 335px !important; overflow: hidden !important; }


section {
	padding: 30px 0 50px;
}
h3.section-title {
	margin-bottom: 40px;
}
.social-icons {
	width: 42px;
	height: 42px;
	font-size: 18px;
	background: #444;
	border-radius: 21px;
	text-align: center;
  	padding: 6px 0;
	line-height: 28px;
	color: #fff;
}
.social-icons:hover, .social-icons:focus {
	color: #eee;
	background: #555;
}
.card {
	margin-bottom: 30px;
}


/* Header
// ========================================================================== */






/* Content
// ========================================================================== */






/* Footer
// ========================================================================== */

#page-footer {
	padding: 15px 0 10px;
	font-size: 12px;
}





/* Extras
// ========================================================================== */
div.panel {
    display: none;
	padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
}

div.panel.show {
    display: block !important;
	opacity: 1;
    max-height: 500px; /* Must more bigger than the content*/
}

/* Accordion - FAQ section - open/close bars

/* open-close accordion stylish */
p.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
}

/* Mouse-over bg-color */
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}

/* "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}
